<div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">

  <app-date-picker (selectDateEvent)="selectDate($event)"></app-date-picker>
  <p class="text-center font-normal text-gray-500 dark:text-gray-400">{{selectedDate}}</p>
  <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">


  <div class="grid md:grid-cols-3 xs:grid-cols-1 gap-4 mb-4 h-full">
    <div class="flex items-center justify-center h-24 my-3">
      <a routerLink="/app/habits/create" class="text-center w-24 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">+</h5>
      </a>
    </div>
    <ng-container *ngIf="habits$ | async as habits; else loading">
      <ng-container *ngFor="let habit of habits | filterHabitsByDate: selectedDate">
          <app-habit [habit]="habit" [selectedDate]="selectedDate" (updateHabit)="updateHabit($event)"></app-habit>
      </ng-container>

      <ng-container *ngIf="habits.length === 0">
        <div class="flex items-center justify-center p-4 text-sm text-gray-800 rounded-lg dark:text-gray-800" role="alert">
          There are no habits in your profile!
        </div>
      </ng-container>
    </ng-container>

    <ng-template #loading>
      <app-skeleton-habit *ngFor="let i of [0,1]"></app-skeleton-habit>
    </ng-template>
  </div>
</div>
