<div class="flex items-center justify-center h-24">
  <div class="animate-pulse p-5 text-center bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="flex items-center justify-center">
      <div>
        <div class="rounded-full bg-slate-700 h-10 w-10"></div>
      </div>
      <div class="mx-2">
        <span class="mb-2 text-lg font-semibold tracking-tight text-gray-900 dark:text-white">
                  <div class="h-2 bg-slate-700 rounded"></div>
        </span>
      </div>
      <div>
        <span class="flex w-3 h-3 bg-slate-700 rounded-full"></span>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <div>
      </div>
      <div class="mx-3 my-1">
        <div class="h-2 w-24 bg-slate-700 rounded"></div>
      </div>
    </div>
    <div class="h-2 w-11/12 bg-slate-700 rounded"></div>
  </div>
</div>
