<div class="mt-16 text-center rounded-lg shadow">
  <div class="flex justify-between">
    <div>
      <button
        class="text-white m-3 bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
        routerLink="/app/charts"
        type="button">
        Back
      </button>
    </div>
  </div>
  <ng-container *ngIf="habit$ | async as habit">
    <div class="flex justify-items-center justify-center">
      <div class="bg-white dark:bg-gray-800 text-center font-normal text-gray-500 dark:text-gray-400 my-3 px-3 rounded-lg">
        <app-habit-title [habit]="habit"></app-habit-title>
      </div>
    </div>
  <ngx-charts-bar-vertical [legendTitle]="habit.name + ' (in ' + habit.unit + ')' || ''"
                           [legend]="true"
                           [showXAxisLabel]="true"
                           [xAxis]="'Date'"
                           [showYAxisLabel]="true"
                           [yAxis]="habit.unit"
                           [roundDomains]="true"
                           [roundEdges]="true"
                           [results]="habit.chartResults || []"
  ></ngx-charts-bar-vertical>
  </ng-container>
</div>
